{% extends "layout.html" %}

{% block content %}
<head>
	<title>Login | Accommodation Portal</title>
</head>

<div class="container">
	{% if form.errors %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			Your username and password didn't match. Please try again.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}
	
	{% if next %}
		{% if user.is_authenticated %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				Your account doesn't have access to this page. To proceed, please login with an account that has access.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% else %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				Please login to see this page.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endif %}
	{% endif %}
	<h1 class="display-1 text-center">Login</h1>
	<br>
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<div class="form-row justify-content-center">
			<div class="col-3">
				<div class="form-group">
					<label class="lead">{{ form.username.label }}</label>
					<div class="input-group">
						<input class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" type="text" />
		<!--				{{ form.username.errors }}-->
					</div>
				</div>
			</div>
		</div>
		<div class="form-row justify-content-center">
			<div class="col-3">
				<div class="form-group">
					<label class="lead">{{ form.password.label }}</label>
					<div class="input-group">
						<input class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" type="password" />
		<!--				{{ form.password.errors }}-->
					</div>
				</div>
			</div>
		</div>
		<div class="form-row justify-content-center">
			<div class="col-3">
				<button type="submit" class="btn btn-primary btn-block">Login</button>
				<input type="hidden" name="next" value="{{ next }}" />
			</div>
		</div>
		<div class="form-row justify-content-center">
			<div class="col-3">
				<a class="lead">No account?</a>
				<a class="lead" href="{% url 'signup' %}">Sign up</a>
			</div>
		</div>
	</form>
	
<!--	{# Assumes you setup the password_reset view in your URLconf #}-->
<!--	<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->

</div>
{% endblock %}

