{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
	<title>Add room | Accommodation Portal</title>
</head>
    <div class="container">
        <form method="POST">
            {% csrf_token%}
            <fieldset class="form-group">
                    <header class="jumbotron my-4">
                        <h1 class="display-3">New Room</h1>
                        <p class="lead"></p>
                    </header>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add Room</button>
            <br>
            </div>
        </form>
    </div>
{% endblock %}