{% extends "layout.html" %}
{% block content %}

<script>
    $(document).ready(function(){
       
        $("#shareable").change(function(){
            $('#submit_button').removeAttr('disabled');
            if($("#shareable_yes").is(":checked")) {
                
                $('#shareable_form').removeAttr('hidden');
                $('#property_price_form').attr('hidden', 'True');
                $('#property_size_form').attr('hidden', 'True');
                // $('#add_rooms').removeAttr('hidden');
            } else if($("#shareable_no").is(":checked")){
                
                $('#property_price_form').removeAttr('hidden');
                $('#property_size_form').removeAttr('hidden');
                
            }
        });
    });

   
</script>

<style>
    .btn-lg {
        position: relative;
    }
    .lead {
        font-weight: 385;
    }
    .display-1 {
        position: relative;
        color: white;
    }

    .jumbotron {
        position: relative;
        color: white;
    }

        .jumbotron::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
            filter: blur(8px);
        }
</style>
<title>New Property | Accommodation Portal</title>
<!-- Jumbotron Header -->
<div class="container">
	<div class="new_property_form">
		<form method="post">
			{% csrf_token %}
			{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}
			<div class="jumbotron my-4">
				<h1 class="display-1">New Property</h1>
			</div>
			<div class="form-row">
				<div class="col-auto">
					<label class="form-check-label lead" for="shareable">Select Property Type: *</label><br>
                </div>
                
				<div class="col-auto">
					<div id="shareable">
						<ul class="list-inline">
							<div class="list-inline-item">
								<div class="custom-control custom-radio">
									<input type="radio" class="custom-control-input" id="shareable_yes" name="shareable" value="Yes">
									<label class="custom-control-label lead" for="shareable_yes">Share House</label>
								</div>
                            </div>
							<div class="list-inline-item">
								<div class="custom-control custom-radio">
									<input type="radio" class="custom-control-input" id="shareable_no" name="shareable" value="No">
									<label class="custom-control-label lead" for="shareable_no">Entire Home</label>
								</div>
                            </div>
						</ul>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group lead col">
					<label for="property_name">Property Name: *</label>
					<input type="text" class="form-control" id="property_name" name="property_name" >
				</div>
				<div class="form-group lead col">
					<label for="property_location">Location: *</label>
					<input type="text" class="form-control" id="property_location" name="property_location">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group lead col">
					<label for="property_description">Description: *</label>
					​<textarea class="form-control" name="property_description" id="property_description" rows="10" cols="70"></textarea>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group lead col">
					<label for="rooms">Amenities:</label>
				</div>
			</div>
			
					{% for am in amenity_list %}
					{% if forloop.first%}
					<div class="form-row form-group">
					{% endif %}
					<div class="custom-control custom-checkbox custom-control-inline lead col-3">
						<input class="custom-control-input" type="checkbox" id={{am.amenity_id}} value={{am.amenity_id}} name="amenities">
						<label class="custom-control-label" for={{am.amenity_id}}>
							{{am.amenity_name}}
						</label> <br>
					</div>
					{% if forloop.counter|divisibleby:"3" %}
					</div>
					<div class="form-row form-group">
					{% endif %}
					{% if forloop.last %}
					</div>
					{% endif %}
					{% endfor %}
			<div class="form-row">
				<div class="form-group lead col" id="property_price_form" hidden>
					<label for="property_price">Property Price:</label>
					<input type="number" class="form-control" min="0" step="0.01" name="property_price" id="property_price">
				</div>
				<div class="form-group lead col" id="property_size_form" hidden>
					<label for="property_size">Property Size:</label>
					<input type="number" class="form-control" id="property_size" name="property_size" min="1">
				</div>
			</div>
			<input id="add_rooms"type="submit" value="Add Room" class="btn btn-primary" hidden>
			<br>
			<input id="submit_button"type="submit" value="Add Property" class="btn btn-primary btn-lg" disabled="disabled"><br><br>
		</form>
	</div>
</div>

{% endblock %}