<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Make booking | Accommodation Portal</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Datatables -->
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Graphs -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script>
        $(document).ready(function(){
            get_room_availabilities();
            var today = get_today_date();
            $("#check_in_date").attr('min',today)
            if( $("#check_in_date").val() != '' ) {
                var checkin = $("#check_in_date").val()
                $("#check_out_date").attr('min',checkin)
            } else {
                $("#check_out_date").attr('min',today)
            }
            $("#check_in_date, #check_out_date").change(function(){
                get_room_availabilities();
            });
        });

        function get_room_availabilities(){
            var room_ids = [];
            room_ids = get_room_ids();
            var check_in_data = $('#check_in_date').val()
            var check_out_data = $('#check_out_date').val()

            $.ajax({
                type: "GET",
                url: "/getdata/",
                dataType: "json",
                async: true,
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', check_in_data : check_in_data,
                            check_out_data : check_out_data, room_ids : JSON.stringify(room_ids),},
                success: function(json) {
                    update_rooms(json.message)
                }
            })
        }

        function get_room_ids(){
            //var num_rooms = {{p.size}};
            var room_ids=[];
            $(":checkbox").each(function () {
                var id = $(this).attr("id");
                room_ids.push(id);
            });
            return room_ids
        }

        function update_rooms(room_attr){
            var i;
            for(i = 0; i < room_attr.length; i++) {
                room_id = room_attr[i].room_id;
                availability = room_attr[i].availability;
                if (availability == true) {
                    $('#' + room_id).removeAttr('disabled')
                    $('#' + room_id + 'booked_user_profile').removeAttr('href')
                    $('#' + room_id + 'booked_user_profile').text("")
                    $('#' + room_id + 'availability').text("Available")
                }
                else {
                    booked_user = room_attr[i].booked_user;
                    $('#' + room_id).prop("checked", false);
                    $('#' + room_id).attr('disabled', 'disabled')
                    $('#' + room_id + 'availability').text("Not Available")
                    $('#' + room_id + 'booked_user_profile').attr('href','/profile/'+booked_user)
                
                    $('#' + room_id + 'booked_user_profile').text('Profile Link')
                }
            }
        }
        
        function get_today_date(){
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            if(dd < 10){
                dd ='0'+ dd;
            }
            if(mm < 10){
                mm = '0' + mm;
            }
            today = yyyy + '-' + mm + '-' + dd;
            return today;
        }
        // Jscript for date widget
        var bookings = JSON.parse('{{ bookings|safe }}');
        var blist = []
        var i = 0;
        for (b of bookings) {
            var start = b.start_date.split("-");
            var end = b.end_date.split("-");
            blist.push({stack: b.room, name: b.user, data: [[Date.UTC(start[0],start[1] - 1,start[2]), Date.UTC(end[0],end[1] - 1,end[2])]] });
            i++;
        }

        var today = new Date();
        var maxDate = new Date();
        maxDate.setDate(today.getDate() + 20);

        // Graph function for date widget
        $(function () {
            $('#timeline').highcharts({
                chart: {
                    inverted: true,
                    type: 'columnrange'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    enabled: true,
                    useHTML: true,
                    style: {
                        pointerEvents: 'auto'
                    },
                    formatter: function () {
                        {% if property.shareable is True %}
                            var stackName = this.series.userOptions.stack;
                            var name = this.series.userOptions.name;
                            return '<b>Room: ' + stackName + '<br/></b>' + name + '<br>' + Highcharts.dateFormat('%d-%m-%Y', this.point.low) + " to " + Highcharts.dateFormat('%d-%m-%Y', this.point.high);
                        {% else %}
                            return Highcharts.dateFormat('%d-%m-%Y', this.point.low) + " to " + Highcharts.dateFormat('%d-%m-%Y', this.point.high);
                        {% endif %}
                    },
                },
                xAxis: {
                    labels:
                    {
                        enabled: false
                    }
                },
                yAxis: {
                    min: Date.now(),
                    max: maxDate,
                    tickInterval: 3600 * 1000 * 24,
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%d-%m-%Y'
                    },
                    title: {
                        text: ''
                    },
                    scrollbar: {
                        enabled: true
                    },
                },
                legend: {
                    enabled: false,
                },
                plotOptions: {
                    series: {
                        stacking: 'true',
                    },
                    bar:{
                        stacking: 'normal',
                        grouping: false,
                        shadow: false,
                        //pointInterval: 24 * 3600 * 1000
                    }
                },
                series: blist
            });
        });
    </script>

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 56px;
        }
        * {
            margin: 0;
        }
        html, body {
            height: 100%;
        }
        .timeline {
            margin-right: 20px;
            margin-left: 20px;
        }
        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -122px; /* the bottom margin is the negative value of the footer's height */
        }
        .py-5, .push {
            height: 122px; /* .push must be the same height as .footer */
        }
        .jumbotron-top {
            position: relative;
            color: white;
        }

            .jumbotron-top::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
                filter: blur(8px);
            } 
        .display-3 {
            position: relative;
        }
        .btn-lg {
            position: relative;
        }
        .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
            font-family: Arial, Helvetica, sans-serif;
            color: black
        }
            .bootstrap-iso form button, .bootstrap-iso form button:hover {
                color: white !important;
            }
        .asteriskField {
            color: red;
        }
        .property-info {
            padding-top: 30px;
            padding-bottom: 20px;
        }
        .property-table {
            width: 100%;
        }

        .lead {
            font-weight: 385;
        }
        .footer {
            bottom: 0;
            position: static;
            height: 2em;
        }
    </style>
</head>
<body>
    <!-- Navigation bar -->
    {% include 'navbar.html' %}
    <br />
    
    <div class="container">
        <header class="jumbotron jumbotron-top my-4">
            <h1 class="display-3">Book Property</h1>
            <p class="lead"></p>
        </header>

        <!-- Dropdown tab for date widget -->
        <div id="accordion">
            <div class="card">
                {% if owner != user %}
                <div class="card-header" id="headingOccupants">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOccupants" aria-expanded="true" aria-controls="collapseOccupants">
                            View availabilities
                        </button>
                    </h5>
                </div>
                {% endif %}
                <div id="collapseOccupants" class="collapse hide" aria-labelledby="headingOccupants" data-parent="#accordion">
                    <br />
                    {% if blist %}
                        <div id="timeline" class="timeline"></div>
                        {% if property.shareable %}
                        <table class="table table-striped book-table">
                            <thead>
                                <tr>
                                    <th>Occupant</th>
                                    <th>Room</th>
                                    <th>Dates</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for b in blist %}
                                <tr>
                                    <td>
                                        {{ b.user }}
                                    </td>
                                    <td>
                                        {{ b.room }}
                                    </td>
                                    <td>
                                        {{ b.start_date }} - {{ b.end_date }}
                                    </td>
                                    <td>
                                        <a href="{% url 'profile' user_id=b.user_id %}">View Profile</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        
                    {% else %}
                        <div align="center">
                            This property has not been booked.
                        </div>
                    {% endif %}
                    <br />
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <!-- Booking form -->
            <div class="booking_form col-md-7">
                <div class="col-md-12">
                    <form method="post">
                    {% csrf_token %}
                    {% if error %}<p><strong>{{ error }}</strong></p>{% endif %}
                    <div id="calendar"></div>
                    <div class="form-group lead">
                        <label for="check_in_date">Check In Date:</label>
                        <input type="date" class="form-control" id="check_in_date" name="check_in_date" value={{check_in}}>
                    </div>
                    <div class="form-group lead">
                        <label for="check_out_date">Check Out Date:</label>
                        <input type="date" class="form-control" id="check_out_date" name="check_out_date" value={{check_out}}>
                    </div>
                    {% if property.shareable is True %}
                    <div class="form-group">
                        <label class= "lead "for="rooms">Select Rooms:</label>
                        <br>
                        <div class="custom-control col-md-12">
                            {% for r in rooms %}
                            <div class="custom-control custom-checkbox ">
                                <input class="custom-control-input" type="checkbox" id={{r.room_id}} name=rooms value={{r.room_id}}>
                                <label class="custom-control-label"  for={{r.room_id}}>
                                    <div class="card text-center" style="width: 15rem;">
                                        <div class="class-body">
                                            <h5 class="card-title">Room {{forloop.counter}} </h5>
                                            <p class="card-text">
                                                Description:    {{r.description}}<br>
                                                Capacity:   {{r.num_guests}}<br>
                                                Price:   ${{r.price}} per night<br>
                                                <div id="{{r.room_id}}availability"></div>
                                                <a id="{{r.room_id}}booked_user_profile"></a>
                                            </p>
                                        </div>
                                    </div>
                                </label> <br>
                            </div>
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label class= "lead" for="num_guests">Number of Guests:</label>
                        <input type="number" class="form-control" id="num_guest" name="num_guests" min="1">
                    </div>
                    <input type="submit" value="Book" class="btn btn-primary btn-lg"><br><br>
                </form>
                </div>
                
            </div>
            <!-- Property details -->
            <div class="property-info col-md-5">
                <div class="jumbotron col-md-12">
                        <table class="property-table">
                                <tr>
                                    <td>
                                        <h3>{{ property.name }}</h3>
                                        <b>Capacity:</b> {{ property.size }}
                                        {% if property.size == 1 %}
                                        guest
                                        {% else %}
                                        guests
                                        {% endif %}
                                        <br />
                                        <b>Location:</b> {{ property.location }}
                                        <br />
                                        <b>Amenities:</b>
                                        {% for am in amenities %}
                                        {% if not forloop.last %}
                                        {{ am }},
                                        {% else %}
                                        {{ am }}
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                            <div>
                                {% if property.shareable is True %}
                                <br />
                                {% for r in rooms %}
            
                                <Strong>Room {{forloop.counter}} </Strong>
                                <br>
                                <div>Description: {{r.description}}</div>
                                <div>Capacity: {{r.num_guests}}</div>
                                <div>Price: ${{r.price}} per night</div>
            
                                {% endfor %} {% endif %}
                                <br />
                            </div>
                            <div>
                                <strong>Property Description:</strong>
                                <p>{{property.description}}</p>
                            </div>
                            <div>
                                {% if property.shareable is False %}
                                <strong>Property Price:</strong>
                                ${{property.price}} per night
                                <br>
                                <br>
                                {% endif %}
                            </div>
            
                            <br>
                            <br>
                            <div id="propertyid" value="{{property.property_id}}"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Extra JavaScript/CSS added manually in "Settings" tab -->
    <!-- Include jQuery -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.css" />-->
    <!--<script>
        $('#date').datepicker({
            format: "dd/mm/yyyy",
            startDate: "now",
            clearBtn: true,
            multidate: true,
            todayHighlight: true
        });
    </script>
</body>
</html>