{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
	<title>Change password | Accommodation Portal</title>
</head>
<div class="container">
	<form method="post">
		{% csrf_token %}
<!--		{{ form|crispy }}-->
		<div class="form-row">
			<div class="col">
				<div class="form-group" id="div_{{ form.old_password.id_for_label }}">
					{{ form.old_password.errors }}
					<label class="lead" for="{{ form.old_password.id_for_label }}">
						{{ form.old_password.label }}
						<span class="asteriskField">*</span>
					</label>
					<div class="">
						{{ form.old_password }}
					</div>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<div class="form-row">
			<div class="col">
				<div class="form-group" id="div_{{ form.new_password1.id_for_label }}">
					{{ form.new_password1.errors }}
					<label class="lead" for="{{ form.new_password1.id_for_label }}">
						{{ form.new_password1.label }}
						<span class="asteriskField">*</span>
					</label>
					<div class="">
						{{ form.new_password1 }}
						<small class="form-text text-muted" id="hint_{{ form.new_password1.id_for_label }}">{{ form.new_password1.help_text }}</small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="form-group" id="div_{{ form.new_password2.id_for_label }}">
					{{ form.new_password2.errors }}
					<label class="lead" for="{{ form.new_password1.id_for_label }}">
						{{ form.new_password2.label }}
						<span class="asteriskField">*</span>
					</label>
					<div class="">
						{{ form.new_password2 }}
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" type="button" id="cancel">Cancel</button>
			<button class="btn btn-primary" type="submit" style="float:right;">Submit</button>
		</div>
	</form>
	<script>
		const cancelBtn = document.getElementById("cancel");
		cancelBtn.addEventListener('click', () => {
			document.location.href = "{% url 'profile' user.user_id %}";
		});
	</script>
</div>
{% endblock %}