{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
	<title>Change password | Accommodation Portal</title>
</head>
<div class="container">
	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<button class="btn btn-outline-info" type="submit">Submit</button>
		<button class="btn btn-outline-info" type="button" id="cancel">Cancel</button>
	</form>
	<script>
		const cancelBtn = document.getElementById("cancel");
		cancelBtn.addEventListener('click', () => {
			document.location.href = "{% url 'profile' user.user_id %}";
		});
	</script>
</div>
{% endblock %}