{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
	<title>Edit profile: {{ user_data.username }} | Accommodation Portal</title>
	<style>
		.img-thumbnail {
			border-radius: 50%;
			width: 200px;
			height: 200px;
			object-fit: cover;
			overflow: hidden;
			background-color: white;
		}
	</style>
</head>
<div class="container">
	<form method="POST">
		{% csrf_token%}
		<fieldset class="form-group">
			<div class="jumbotron my-4">
				<h1 class="display-1">Profile Edit</h1>
			</div>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit" style="float: right">Save</button>
				<button class="btn btn-outline-info" id="cancel" type="button" >Back to profile</button>
			</div>
			<div class="text-center">
				<p class="lead">Profile picture preview</p>
				<img src="https://www.materialui.co/materialIcons/social/person_grey_192x192.png" class="img-thumbnail" id="photo">
			</div>
<!--			{{ form|crispy }}-->
			<div class="form-row">
				<div class="col">
					<div class="form-group" id="div_{{ form.photo.id_for_label }}">
						<label class="lead" for="{{ form.photo.id_for_label }}">{{ form.photo.label }}</label>
						<div class="">
							{{ form.photo }}
							<small class="form-text text-muted" id="hint_{{ form.photo.id_for_label }}">{{ form.photo.help_text }}</small>
						</div>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<div class="form-group" id="div_{{ form.first_name.id_for_label }}">
						<label class="lead" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
						<div class="">
							{{ form.first_name }}
						</div>
					</div>
				</div>
				<div class="col">
					<div class="form-group" id="div_{{ form.last_name.id_for_label }}">
						<label class="lead" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
						<div class="">
							{{ form.last_name }}
						</div>
					</div>
				</div>
				<div class="col-auto">
					<div class="form-group" id="div_{{ form.birthday.id_for_label }}">
						<label class="lead" for="{{ form.birthday.id_for_label }}">{{ form.birthday.label }}</label>
						<div class="">
							{{ form.birthday }}
						</div>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<div class="form-group" id="div_{{ form.description.id_for_label }}">
						<label class="lead" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
						<div class="">
							{{ form.description }}
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
	<script>
		const photoField = document.getElementById("{{ form.photo.id_for_label|escapejs }}");
		const photoPreview = document.getElementById("photo");
		
		{% if user_data.photo %}
			photoField.value = "{{ user_data.photo|escapejs }}";
			photoPreview.src = "{{ user_data.photo|escapejs }}";
		{% endif %}
		
		const divIdPhoto = document.getElementById("div_id_photo");
		photoField.addEventListener('blur', () => {
			if (photoField.value.match(/\.(jpeg|jpg|gif|png)$/)) {
				photoPreview.src = photoField.value;
				if (divIdPhoto.childNodes.length === 6) divIdPhoto.removeChild(divIdPhoto.lastChild);
			} else {
				const warningbox = document.createElement("div");
				warningbox.className = "alert alert-warning alert-dismissible fade show";
				warningbox.setAttribute("role", "alert");
				const boldAlert = document.createElement("b");
				boldAlert.innerText = "Warning: invalid image";
				warningbox.appendChild(boldAlert);
				let br = document.createElement("br");
				warningbox.appendChild(br);
				const msg1 = document.createTextNode("We're not going to bother previewing the image.");
				warningbox.appendChild(msg1);
				br = document.createElement("br");
				warningbox.appendChild(br);
				const msg2 = document.createTextNode("We're also not going to stop you from making this your profile picture, but don't say we didn't warn you.");
				warningbox.appendChild(msg2);
				const closeBtn = document.createElement("button");
				closeBtn.className = "close";
				closeBtn.setAttribute("data-dismiss", "alert");
				closeBtn.setAttribute("aria-label", "Close");
				const ecks = document.createElement("span");
				ecks.setAttribute("aria-hidden", "true");
				ecks.innerText = "x";
				closeBtn.appendChild(ecks);
				warningbox.appendChild(closeBtn)
				if (divIdPhoto.childNodes.length === 5) divIdPhoto.appendChild(warningbox);
			}
		});
		
		{% if user_data.first_name %}
			const firstNameField = document.getElementById("{{ form.first_name.id_for_label|escapejs }}");
			firstNameField.value = "{{ user_data.first_name|escapejs }}";
		{% endif %}
		
		{% if user_data.last_name %}
			const lastNameField = document.getElementById("{{ form.last_name.id_for_label|escapejs }}");
			lastNameField .value = "{{ user_data.last_name|escapejs }}";
		{% endif %}
		
		{% if user_data.description %}
			const descField = document.getElementById("{{ form.description.id_for_label|escapejs }}");
			descField.value = "{{ user_data.description|escapejs }}";
		{% endif %}
		
		{% if user_data.birthday %}
			const birthdayField = document.getElementById("{{ form.birthday.id_for_label|escapejs }}");
			let birthDate = {{ user_data.birthday.day|escapejs }};
			let birthMonth = {{ user_data.birthday.month|escapejs }};
			let birthYear = {{ user_data.birthday.year|escapejs }};
			
			if (birthDate < 10) birthDate = "0" + birthDate;
			if (birthMonth < 10) birthMonth = "0" + birthMonth;
			
			const birthdayString = birthYear + "-" + birthMonth + "-" + birthDate;
			//const birthday = Date.parse(birthdayString);
			birthdayField.setAttribute("value", birthdayString);
			
			let today = new Date();
			let dd = today.getDate();
			let mm = today.getMonth()+1; //January is 0!
			let yyyy = today.getFullYear();
			
		  if (dd < 10) dd = '0' + dd;
		  if (mm < 10) mm = '0' + mm;
			
			today = yyyy + '-' + mm + '-' + dd;
			birthdayField.setAttribute("max", today);
			birthdayField.setAttribute("min", "1000-01-01");
		{% endif %}
		
		const cancelButton = document.getElementById("cancel");
		cancelButton.addEventListener('click', () => {
			document.location.href = "{% url 'profile' user.user_id %}";
		});
	</script>
</div>
{% endblock %}
