{% extends "layout.html" %}

{% block content %}

<div class="container">
<!--	<a href="{% url 'edit_profile' %}">Edit profile</a>-->
	<div style="color:rgb(255, 145, 0);">
		<h1 style="background:#00FF00 url(http://img.sccnn.com/bimg/338/16513.jpg) repeat 0;">Welcome {{ request.user.first_name }}</h1>
	</div>
	<p style="background:#00FF00 url(http://img.sccnn.com/bimg/338/16513.jpg) repeat 0;"> User Account: {{ request.user.username }}</p>
	<p> User First Name: {{ request.user.first_name }} </p>
	<p> User Birthday: {{ request.user.birthday }} </p>
	<p> User Description: {{ request.user.description }} </p>
	<button class="btn btn-outline-info" id="edit" type="button">Edit Profile</button>
	<button class="btn btn-outline-info" id="pw-change" type="button">Change Password</button>
</div>
<script>
	const editBtn = document.getElementById("edit");
	editBtn.addEventListener('click', () => {
		document.location.href = "{% url 'edit_profile' %}";
	});
	
	const changePwBtn = document.getElementById("pw-change");
	changePwBtn.addEventListener('click', () => {
		document.location.href = "{% url 'change_password' %}";
	});
</script>
{% endblock %}