{% extends "layout.html" %}

{% block content %}

<div class="container">
	<div style="color:rgb(255, 145, 0);">
		<h1 style="background:#00FF00 url(http://img.sccnn.com/bimg/338/16513.jpg) repeat 0;">Welcome {{ request.user.last_name }}<h1>
	</div>
	<p style="background:#00FF00 url(http://img.sccnn.com/bimg/338/16513.jpg) repeat 0;"> User Account: {{ request.user.username }}</p>
	<!--<img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=4062117195,3402743117&fm=26&gp=0.jpg" width="800" height="200" />-->
	<!--<span style="background:#ff0000">背景色</span>怎么弄？-->
	<p> User First Name: {{ request.user.first_name }} </p>
	<p> User Birthday: {{ request.user.birthday }} </p>
	<p> User Description: {{ request.user.description }} </p>
</div>

{% endblock %}