{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
        <form method="POST">
            {% csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Book Property</legend>
                {{ booking_form|crispy }}
                
            </fieldset>
            <di class="form-group"v>
                <button class="btn btn-outline-info" type="submit">Book</button>

            </div>
        </form>
    </div>
{% endblock %}