<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{{ property.name }} | Accommodation Portal</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 56px;
        }

        * {
            margin: 0;
        }

        html, body {
            height: 100%;
        }

        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -122px; /* the bottom margin is the negative value of the footer's height */
        }

        .py-5, .push {
            height: 122px; /* .push must be the same height as .footer */
        }

        .checked {
            color: orange;
        }

        .rating {
            display: inline-block;
            position: relative;
            height: 25px;
            line-height: 25px;
            font-size: 25px;
            margin-top: 10px;
        }

            .rating label {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                cursor: pointer;
            }

                .rating label:last-child {
                    position: static;
                }

                .rating label:nth-child(1) {
                    z-index: 5;
                }

                .rating label:nth-child(2) {
                    z-index: 4;
                }

                .rating label:nth-child(3) {
                    z-index: 3;
                }

                .rating label:nth-child(4) {
                    z-index: 2;
                }

                .rating label:nth-child(5) {
                    z-index: 1;
                }

                .rating label input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }

                .rating label .icon {
                    float: left;
                    color: transparent;
                }

                .rating label:last-child .icon {
                    color: #000;
                }

            .rating:not(:hover) label input:checked ~ .icon,
            .rating:hover label:hover input ~ .icon {
                color: #09f;
            }

            .rating label input:focus:not(:checked) ~ .icon:last-child {
                color: #000;
                text-shadow: 0 0 5px #09f;
            }

        .carousel-item {
            height: 400px;
        }

        .carousel-control-next,
        .carousel-control-prev {
            filter: invert(100%);
        }

        .d-block {
            max-height: 100%;
            object-fit: contain;
        }

        .review-form {
            margin-left: 20px;
            margin-right: 20px;
        }

        .dataTables_wrapper table thead {
            display: none;
        }

        .property-info {
            padding-top: 30px;
            padding-bottom: 20px;
        }

        .property-table {
            width: 100%;
        }

        .host-name {
            font-size: 150%;
        }

        #owner-photo {
          border-radius: 50%;
          width: 75px;
          height: 75px;
          object-fit: cover;
          overflow: hidden;
          background-color: white;
        }

        .timeline {
            margin-right: 20px;
            margin-left: 20px;
        }

        .book-table {
            border-spacing: 50px;
            text-align: center;
            vertical-align: middle;
        }

    </style>
</head>
<body>
    <!-- Navigation bar -->
    {% include 'navbar.html' %}
    <br />

    <div class="container">

        <!-- Property image slideshow -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height:400px">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ images.0 }}"
                         alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                         alt="Second slide">
                </div>
                <div class="carousel-item">
                   <img class="d-block w-100" src="https://images.unsplash.com/photo-1545022388-43a762e088b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br />

        <!-- Property information section -->
        <div class="jumbotron property-info">
            <table class="property-table">
                <tr>
                    <td>
                        <h3>{{ property.name }}</h3>
                        <b>Capacity:</b> {{ property.size }}
                        {% if property.size == 1 %}
                        guest
                        {% else %}
                        guests
                        {% endif %}
                        <br />
                        <b>Location:</b> {{ property.location }}
                        <br />
                        <b>Amenities:</b>
                        {% for am in amenities %}
                        {% if not forloop.last %}
                        {{ am }},
                        {% else %}
                        {{ am }}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td align="right">
                        <a href="{% url 'profile' user_id=owner.user_id %}"><img src="https://www.materialui.co/materialIcons/social/person_grey_192x192.png" id="owner-photo"></a>
                        <p class="host-name">Host: <a href="{% url 'profile' user_id=owner.user_id %}">{{ owner.first_name }}</a></p>
                    </td>

                </tr>
            </table>
            <div>
                {% if property.shareable is True %}
                <br />
                {% for r in rooms %}

                <Strong>Room {{forloop.counter}} </Strong>
                <br>
                <div>Description: {{r.description}}</div>
                <div>Size: {{r.num_guests}}</div>
                <div>Price: ${{r.price}} per night</div>

                {% endfor %} {% endif %}
                <br />
            </div>
            <div>
                <strong>Property Description:</strong>
                <p>{{property.description}}</p>
            </div>
            <div>
                {% if property.shareable is False %}
                <strong>Property Price:</strong>
                ${{property.price}} per night
                <br>
                <br>
                {% endif %}
            </div>


            {% if owner == user %}
            <div>
            </div>
            {% else %}
            <a href="{% url 'booking' property.property_id check_in check_out %}" class="btn btn-primary">Book Property</a>
            <button id="addtofavourites" class="btn btn-primary">Add to Favourites</button>
            {% endif %}


            <br>
            <br>
            <div id="propertyid" value="{{property.property_id}}"></div>
        </div>

        <!-- Dropdown tab for date widget -->
        <div id="accordion">
            <div class="card">
                {% if owner != user %}
                <div class="card-header" id="headingOccupants">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOccupants" aria-expanded="true" aria-controls="collapseOccupants">
                            View availabilities
                        </button>
                    </h5>
                </div>
                {% endif %}
                <div id="collapseOccupants" class="collapse hide" aria-labelledby="headingOccupants" data-parent="#accordion">
                    <br />
                    {% if blist %}
                        <div id="timeline" class="timeline"></div>
                        {% if property.shareable %}
                        
                        <table class="table table-striped book-table">
                            <thead>
                                <tr>
                                    <th>Occupant</th>
                                    <th>Room</th>
                                    <th>Dates</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for b in blist %}
                                <tr>
                                    <td>
                                        {{ b.user }}
                                    </td>
                                    <td>
                                        {{ b.room }}
                                    </td>
                                    <td>
                                        {{ b.start_date }} - {{ b.end_date }}
                                    </td>
                                    <td>
                                        <a href="{% url 'profile' user_id=b.user_id %}">View Profile</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        
                        {% else %}
                        <div align="center">
                            This property has not been booked.
                        </div>
                    {% endif %}
                    <br />
                </div>
            </div>
        </div>
        <br>

        <!-- Dropdown tab for review form -->
        <div id="accordion">
            <div class="card">
                {% if owner != user %}
                <div class="card-header" id="headingReview">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseReview" aria-expanded="true" aria-controls="collapseReview">
                            Write a review
                        </button>
                    </h5>
                </div>
                {% endif %}
                <div id="collapseReview" class="collapse hide" aria-labelledby="headingReview" data-parent="#accordion">
                    <br />
                    {% if user.is_authenticated %}
                    <form class="review-form" method="post" id="reviewForm">
                        {% csrf_token %}
                        <b>Rating:</b>
                        <br />
                        <div class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" />
                                <span class="fa fa-star icon"></span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="fa fa-star icon"></span>
                                <span class="fa fa-star icon"></span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="fa fa-star icon"></span>
                                <span class="fa fa-star icon"></span>
                                <span class="fa fa-star icon"></span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="fa fa-star icon"></span>
                                <span class="fa fa-star icon"></span>
                                <span class="fa fa-star icon"></span>
                                <span class="fa fa-star icon"></span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="fa fa-star icon"></span>
                                <span class="fa fa-star icon"></span>
                                <span class="fa fa-star icon"></span>
                                <span class="fa fa-star icon"></span>
                                <span class="fa fa-star icon"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" form="reviewForm" id="reviewText" name="reviewText" placeholder="Enter your review here..." rows="5"></textarea>
                        </div>
                        <div align="right">
                            <button class="btn btn-primary" id="review" type="submit">Submit</button>
                        </div>
                    </form>
                    {% else %}
                    <div align="center">
                        <a href="/login">Please login to write a review.</a>
                    </div>
                    {% endif %}
                    <br />
                </div>
            </div>
        </div>
        <br />

        <!-- Table display for property reviews -->
        <h4>Reviews</h4>
        <hr>
        <table id="myTable" class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for r in reviews %}
                <tr>
                    <td>
                        <b>{{ r.1 }}</b>
                        <br />
                        <i>Rating:</i>
                        {% if r.0.rating == 5 %}
                        <label>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star checked icon"></span>
                        </label>
                        {% elif r.0.rating == 4 %}
                        <label>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star icon"></span>
                        </label>
                        {% elif r.0.rating == 3 %}
                        <label>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                        </label>
                        {% elif r.0.rating == 2 %}
                        <label>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                        </label>
                        {% elif r.0.rating == 1 %}
                        <label>
                            <span class="fa fa-star checked icon"></span>
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                        </label>
                        {% endif %}
                        <br />
                        {{ r.0.text }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Datatables -->
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Graphs -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
  	    $(document).ready(function () {
    	    var property_id = $("#propertyid").attr("value")
    	    $("#addtofavourites").click(function () {

      	    $.ajax({
			    type: "GET",
			    url: "/addtofavourites/",
			    dataType: "json",
			    async: true,
			    data: { csrfmiddlewaretoken: '{{ csrf_token }}', property: property_id },
			    success: function (json) {
				    alert(json.message)
			    }
      	    })
        });
        });
        $(':radio').change(function () {
            console.log('New star rating: ' + this.value);
            $('#fa fa-star').addClass('fa fa-star checked').removeClass('fa fa-star');
        });
        $(document).ready(function () {
            $('#myTable').dataTable({
                "order": [],
            });
        });

        {% if owner.photo %}
            const ownerPhoto = document.getElementById("owner-photo");
            ownerPhoto.src = "{{ owner.photo|escapejs }}";
        {% endif %}

        // Jscript for date widget
        var bookings = JSON.parse('{{ bookings|safe }}');
        var blist = []
        var i = 0;
        for (b of bookings) {
            var start = b.start_date.split("-");
            var end = b.end_date.split("-");
            blist.push({stack: b.room, name: b.user, data: [[Date.UTC(start[0],start[1] - 1,start[2]), Date.UTC(end[0],end[1] - 1,end[2])]] });
            i++;
        }

        var today = new Date();
        var maxDate = new Date();
        maxDate.setDate(today.getDate() + 20);

        // Graph function for date widget
        $(function () {
            $('#timeline').highcharts({
                chart: {
                    inverted: true,
                    type: 'columnrange'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    enabled: true,
                    useHTML: true,
                    style: {
                        pointerEvents: 'auto'
                    },
                    formatter: function () {
                        {% if property.shareable is True %}
                            var stackName = this.series.userOptions.stack;
                            var name = this.series.userOptions.name;
                            return '<b>Room: ' + stackName + '<br/></b>' + name + '<br>' + Highcharts.dateFormat('%d-%m-%Y', this.point.low) + " to " + Highcharts.dateFormat('%d-%m-%Y', this.point.high);
                        {% else %}
                            return Highcharts.dateFormat('%d-%m-%Y', this.point.low) + " to " + Highcharts.dateFormat('%d-%m-%Y', this.point.high);
                        {% endif %}
                    },
                },
                xAxis: {
                    labels:
                    {
                        enabled: false
                    }
                },
                yAxis: {
                    min: Date.now(),
                    max: maxDate,
                    tickInterval: 3600 * 1000 * 24,
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%d-%m-%Y'
                    },
                    title: {
                        text: ''
                    },
                    scrollbar: {
                        enabled: true
                    },
                },
                legend: {
                    enabled: false,
                },
                plotOptions: {
                    series: {
                        stacking: 'true',
                    },
                    bar:{
                        stacking: 'normal',
                        grouping: false,
                        shadow: false,
                        //pointInterval: 24 * 3600 * 1000
                    }
                },
                series: blist
            });
        });
    </script>
</body>
</html>

