{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
	<title>Create room | Accommodation Portal</title>
</head>
<div class="container">
	<form method="POST">
		{% csrf_token%}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Add Rooms</legend>
            <!-- {{ room_creation_form|crispy }} -->
            {{ room_creation_form.management_form }}  
            {{ room_creation_form.errors }}
            {{ room_creation_form.non_field_errors }} 
            {% for form in room_creation_form %}
                <head>Room: {{forloop.counter}}</head>
			<div class="lead">{{form|crispy}}</div>



            {% endfor %}
        
		</fieldset>
		<di class="form-group"v>
			<button class="btn btn-outline-info" type="submit">Add Rooms</button>
	
	</form>

{% endblock %}