{% extends "layout.html" %}
{% block content %}
<!-- Jumbotron Header -->
<div class="container">
    <header class="jumbotron my-4">
        <h1 class="display-3">A Warm Welcome!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    </header>

    <div class="search_form">
        <form method="post">
            {% csrf_token %}
            <p class="lead"> Location:
            <input type="text" name="location"><br>
            </p>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <p class="lead"> Check-in:
            <input type="date" name="check_in" id="check_in">
            Check-out:
            <input type="date" name="check_out" id="check_out"><br>
            </p>

            <!-- Set minimum check in date to today-->
            <script>
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0
                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd
                }
                if (mm < 10) {
                    mm = '0' + mm
                }

                today = yyyy + '-' + mm + '-' + dd;
                document.getElementById("check_in").setAttribute("min", today);
                document.getElementById("check_out").setAttribute("min", today);
            </script>
            <input type="submit" value="Search" class="btn btn-primary btn-lg"><br><br />
        </form>
    </div>
</div>


{% endblock %}
