{% extends "layout.html" %}
{% block content %}
<head>
	<title>My properties | Accommodation Portal</title>
</head>
<div class="container">
    <header class="jumbotron my-4">
        <h1 class="display-3">My Properties</h1>
        <p class="lead"> </p>
    </header>   
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 ">
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th><h2 style="text-align:center">Shareable Properties</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for property in user_properties_shareable %}
                            <tr>
                                <td>
                                    <h4><a class="btn-link" href="{% url 'property' property_id=property.property_id %}">{{property.name}}</a></h4>
                                    <div>Property Description: {{property.description}}</div>
                                    <div>Rooms: {{property.size}}</div>
                                    <div>Total property price: ${{property.price}} per night</div> <br>
                                    <!-- <h3>Property Room Details</h3> -->
                                    <a href="{% url 'edit_property' property_id=property.property_id%}" class="btn btn-primary">Edit Property</a>
                                    <a href="{% url 'view_rooms' property_id=property.property_id %}" class="btn btn-primary">View Rooms</a>
                                    <a href="{% url 'add_room' property_id=property.property_id %}" class="btn btn-primary">Add Rooms</a>
                                    <!-- <a href="{% url 'property' property_id=property.property_id %}" class="btn btn-primary">View Property</a> -->
                                    <br> <br>
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>       
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 ">
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th><h2 style="text-align:center">Unshareable Properties</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for property in user_properties_unshareable %}
                            <tr>
                                <td>
                                    <h4><a class="btn-link" href="{% url 'property' property_id=property.property_id %}">{{property.name}}</a></h4>
                                    <div>Property Description: {{property.description}}</div>
                                    <div>Capacity: {{property.size}}</div>
                                    <div>Property Price: ${{property.price}} per night</div> <br>
                                    <!-- <h3>Property Room Details</h3> -->
                                    <a href="{% url 'edit_property' property_id=property.property_id%}" class="btn btn-primary">Edit Property</a>
                                    <!-- <a href="{% url 'property' property_id=property.property_id %}" class="btn btn-primary">View Property</a> -->
                                    <br> <br>
                                </td>
                            </tr>
                        {% endfor %}   
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}