{% extends "layout.html" %}

{% block content %}


<div class="container">
    
    <div class="column">
        <h1>My Shareable Properties</h1>
            {% for property in user_properties_shareable %}
        <li>
            <h2>{{property.name}}</h2>
            <p>{{property.description}}</p>
            <p>Rooms: {{property.size}}</p>
            <p>Total property price: ${{property.price}}</p>
            <!-- <h3>Property Room Details</h3> -->
            <a href="#" class="btn btn-primary">Edit Property</a>
            <a href="{% url 'add_room' property_id=property.property_id %}" class="btn btn-primary">Add Rooms</a>
            <a href="{% url 'property' property_id=property.property_id %}" class="btn btn-primary">View Property</a>
        </li>
        {% endfor %}
    </div>
    
    
    <div class="column">
        <h1>My Unshareable Properties</h1>
        {% for property in user_properties_unshareable %}
        <li>
            <h2>{{property.name}}</h2>
            <p>{{property.description}}</p>
            <p>Rooms: {{property.size}}</p>
            <p>Total property price: ${{property.price}}</p>
            <!-- <h3>Property Room Details</h3> -->
            <a href="#" class="btn btn-primary">Edit Property</a>
            <a href="{% url 'property' property_id=property.property_id %}" class="btn btn-primary">View Property</a>
        </li>
        {% endfor %}
    </div>
    
</div>

{% endblock %}