{% extends "layout.html" %}
{% block content %}
<head>
	<title>My properties | Accommodation Portal</title>
    <style>
        .display-1 {
            position: relative;
            color: white;
        }

        .jumbotron {
            position: relative;
            color: white;
        }

            .jumbotron::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
                filter: blur(8px);
            }
    </style>
</head>
<div class="container">
    <header class="jumbotron my-4">
        <h1 class="display-1">My Properties</h1>
        <p class="lead"> </p>
    </header>   
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 ">
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th><h2 style="text-align:center">Share Houses</h2><p style="text-align:center">Please remember to add rooms to shareable properties.</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for property in user_properties_shareable %}
                            <tr>
                                <td>
                                    <h4><a class="btn-link" href="{% url 'property' property_id=property.property_id %}">{{property.name}}</a></h4>
                                    <div>Property Description: {{property.description}}</div>
                                    <div>Rooms: {{property.size}}</div>
                                    <div>Total property price: ${{property.price}} per night</div> <br>
                                    <!-- <h3>Property Room Details</h3> -->
                                    
                                    <a href="{% url 'view_rooms' property_id=property.property_id %}" class="btn btn-primary">View Rooms</a>
                                    <a href="{% url 'add_room' property_id=property.property_id %}" class="btn btn-primary">Add Rooms</a>
                                    <a href="{% url 'edit_property' property_id=property.property_id%}" class="btn btn-primary">Edit Property</a>
                                    <a href="{% url 'property_bookings' property_id=property.property_id %}" class="btn btn-primary">View Bookings</a>
                                    <!-- <a href="{% url 'property' property_id=property.property_id %}" class="btn btn-primary">View Property</a> -->
                                    <br> <br>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>
                                    <div class="lead">
                                        No shareable properties.
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>       
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 ">
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th><h2 style="text-align:center">Entire Homes<br><br></h2></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        {% for property in user_properties_unshareable %}
                            <tr>
                                <td>
                                    <h4><a class="btn-link" href="{% url 'property' property_id=property.property_id %}">{{property.name}}</a></h4>
                                    <div>Property Description: {{property.description}}</div>
                                    <div>Capacity: {{property.size}}</div>
                                    <div>Property Price: ${{property.price}} per night</div> <br>
                                    <!-- <h3>Property Room Details</h3> -->
                                    <a href="{% url 'edit_property' property_id=property.property_id%}" class="btn btn-primary">Edit Property</a>
                                    <a href="{% url 'property_bookings' property_id=property.property_id %}" class="btn btn-primary">View Bookings</a>
                                    <!-- <a href="{% url 'property' property_id=property.property_id %}" class="btn btn-primary">View Property</a> -->
                                    <br> <br>
                                </td>
                            </tr>
                        {% empty %}
                        <tr>
                            <td>
                                <div class="lead">
                                    No unshareable properties.
                                </div>
                            </td>
                        </tr>
                            
                        {% endfor %} 
                          
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}